

.container {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}

p.bold-center {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}



.window {
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 200px;
    background-color: rgb(116, 116, 116);
    border-radius: 25px;
}

.public-top {
    height: 30px;
    
}

.public-top .top-left {
    float: left;
    color: #fff;
    line-height: 20px;
    padding: 5px;
}

.public-top .top-left a:hover {
    color: rgb(110, 107, 56);
}
